<div id="user-actions" class="modal">
    <div class="user-action">
        <%= link_to "Editar Perfil", edit_profile_path %>
    </div>

    <div class="user-action">
        <%= link_to "Sair", destroy_user_session_path, method: :delete,
            data: { confirm: "Sair de sua conta?" } %>
    </div>
</div>